In [1]:
import pandas as pd
df = pd.read_csv("NY-House-Dataset.csv")
df.nunique()

C:\Users\Admin\AppData\Local\Temp\ipykernel_10616\2663526769.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

BROKERTITLE                    1036
TYPE                             13
PRICE                          1274
BEDS                             27
BATH                             22
PROPERTYSQFT                   1445
ADDRESS                        4582
STATE                           308
MAIN_ADDRESS                   4583
ADMINISTRATIVE_AREA_LEVEL_2      29
LOCALITY                         11
SUBLOCALITY                      21
STREET_NAME                     174
LONG_NAME                      2731
FORMATTED_ADDRESS              4550
LATITUDE                       4196
LONGITUDE                      4118
dtype: int64

In [2]:
df = df.drop(columns=['BROKERTITLE','PROPERTYSQFT','ADDRESS','MAIN_ADDRESS','LONG_NAME','FORMATTED_ADDRESS','LATITUDE','LONGITUDE'])

In [3]:
df

,TYPE,PRICE,BEDS,BATH,STATE,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME
0,Condo for sale,315000,2,2.000000,"New York, NY 10022",New York County,New York,Manhattan,East 55th Street
1,Condo for sale,195000000,7,10.000000,"New York, NY 10019",United States,New York,New York County,New York
2,House for sale,260000,4,2.000000,"Staten Island, NY 10312",United States,New York,Richmond County,Staten Island
3,Condo for sale,69000,3,1.000000,"Manhattan, NY 10022",United States,New York,New York County,New York
4,Townhouse for sale,55000000,7,2.373861,"New York, NY 10065",United States,New York,New York County,New York
...,...,...,...,...,...,...,...,...,...
4796,Co-op for sale,599000,1,1.000000,"Manhattan, NY 10075",New York,New York County,New York,Manhattan
4797,Co-op for sale,245000,1,1.000000,"Rego Park, NY 11374",United States,New York,Queens County,Queens
4798,Co-op for sale,1275000,1,1.000000,"New York, NY 10011",United States,New York,New York County,New York
4799,Condo for sale,598125,2,1.000000,"Elmhurst, NY 11373",New York,Queens County,Queens,Flushing
4800,Co-op for sale,349000,1,1.000000,"Brooklyn, NY 11224",New York,Kings County,Brooklyn,Coney Island

In [4]:
df.nunique()

TYPE                             13
PRICE                          1274
BEDS                             27
BATH                             22
STATE                           308
ADMINISTRATIVE_AREA_LEVEL_2      29
LOCALITY                         11
SUBLOCALITY                      21
STREET_NAME                     174
dtype: int64

In [5]:
df = df.drop(columns=['STATE','STREET_NAME'])
df

,TYPE,PRICE,BEDS,BATH,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY
0,Condo for sale,315000,2,2.000000,New York County,New York,Manhattan
1,Condo for sale,195000000,7,10.000000,United States,New York,New York County
2,House for sale,260000,4,2.000000,United States,New York,Richmond County
3,Condo for sale,69000,3,1.000000,United States,New York,New York County
4,Townhouse for sale,55000000,7,2.373861,United States,New York,New York County
...,...,...,...,...,...,...,...
4796,Co-op for sale,599000,1,1.000000,New York,New York County,New York
4797,Co-op for sale,245000,1,1.000000,United States,New York,Queens County
4798,Co-op for sale,1275000,1,1.000000,United States,New York,New York County
4799,Condo for sale,598125,2,1.000000,New York,Queens County,Queens
4800,Co-op for sale,349000,1,1.000000,New York,Kings County,Brooklyn

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4801 entries, 0 to 4800
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   TYPE                         4801 non-null   object
 1   PRICE                        4801 non-null   int64
 2   BEDS                         4801 non-null   int64
 3   BATH                         4801 non-null   float64
 4   ADMINISTRATIVE_AREA_LEVEL_2  4801 non-null   object
 5   LOCALITY                     4801 non-null   object
 6   SUBLOCALITY                  4801 non-null   object
dtypes: float64(1), int64(2), object(4)
memory usage: 262.7+ KB

In [7]:
df = pd.get_dummies(df)
df

,PRICE,BEDS,BATH,TYPE_Co-op for sale,TYPE_Coming Soon,TYPE_Condo for sale,TYPE_Condop for sale,TYPE_Contingent,TYPE_For sale,TYPE_Foreclosure,...,SUBLOCALITY_New York,SUBLOCALITY_New York County,SUBLOCALITY_Queens,SUBLOCALITY_Queens County,SUBLOCALITY_Rego Park,SUBLOCALITY_Richmond County,SUBLOCALITY_Riverdale,SUBLOCALITY_Snyder Avenue,SUBLOCALITY_Staten Island,SUBLOCALITY_The Bronx
0,315000,2,2.000000,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,195000000,7,10.000000,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,260000,4,2.000000,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,69000,3,1.000000,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
4,55000000,7,2.373861,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4796,599000,1,1.000000,True,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4797,245000,1,1.000000,True,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
4798,1275000,1,1.000000,True,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
4799,598125,2,1.000000,False,False,True,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
4800,349000,1,1.000000,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
df = df.replace({True:1,False:0})

C:\Users\Admin\AppData\Local\Temp\ipykernel_10616\191794746.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace({True:1,False:0})

In [9]:
df

,PRICE,BEDS,BATH,TYPE_Co-op for sale,TYPE_Coming Soon,TYPE_Condo for sale,TYPE_Condop for sale,TYPE_Contingent,TYPE_For sale,TYPE_Foreclosure,...,SUBLOCALITY_New York,SUBLOCALITY_New York County,SUBLOCALITY_Queens,SUBLOCALITY_Queens County,SUBLOCALITY_Rego Park,SUBLOCALITY_Richmond County,SUBLOCALITY_Riverdale,SUBLOCALITY_Snyder Avenue,SUBLOCALITY_Staten Island,SUBLOCALITY_The Bronx
0,315000,2,2.000000,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,195000000,7,10.000000,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,260000,4,2.000000,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,69000,3,1.000000,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,55000000,7,2.373861,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4796,599000,1,1.000000,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4797,245000,1,1.000000,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4798,1275000,1,1.000000,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4799,598125,2,1.000000,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4800,349000,1,1.000000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4801 entries, 0 to 4800
Data columns (total 77 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   PRICE                                        4801 non-null   int64
 1   BEDS                                         4801 non-null   int64
 2   BATH                                         4801 non-null   float64
 3   TYPE_Co-op for sale                          4801 non-null   int64
 4   TYPE_Coming Soon                             4801 non-null   int64
 5   TYPE_Condo for sale                          4801 non-null   int64
 6   TYPE_Condop for sale                         4801 non-null   int64
 7   TYPE_Contingent                              4801 non-null   int64
 8   TYPE_For sale                                4801 non-null   int64
 9   TYPE_Foreclosure                             4801 non-null   int64
 10  TYPE_House for sale                          4801 non-null   int64
 11  TYPE_Land for sale                           4801 non-null   int64
 12  TYPE_Mobile house for sale                   4801 non-null   int64
 13  TYPE_Multi-family home for sale              4801 non-null   int64
 14  TYPE_Pending                                 4801 non-null   int64
 15  TYPE_Townhouse for sale                      4801 non-null   int64
 16  ADMINISTRATIVE_AREA_LEVEL_2_10002            4801 non-null   int64
 17  ADMINISTRATIVE_AREA_LEVEL_2_10003            4801 non-null   int64
 18  ADMINISTRATIVE_AREA_LEVEL_2_10017            4801 non-null   int64
 19  ADMINISTRATIVE_AREA_LEVEL_2_10301            4801 non-null   int64
 20  ADMINISTRATIVE_AREA_LEVEL_2_10303            4801 non-null   int64
 21  ADMINISTRATIVE_AREA_LEVEL_2_10304            4801 non-null   int64
 22  ADMINISTRATIVE_AREA_LEVEL_2_10306            4801 non-null   int64
 23  ADMINISTRATIVE_AREA_LEVEL_2_10309            4801 non-null   int64
 24  ADMINISTRATIVE_AREA_LEVEL_2_10310            4801 non-null   int64
 25  ADMINISTRATIVE_AREA_LEVEL_2_10312            4801 non-null   int64
 26  ADMINISTRATIVE_AREA_LEVEL_2_10463            4801 non-null   int64
 27  ADMINISTRATIVE_AREA_LEVEL_2_10465            4801 non-null   int64
 28  ADMINISTRATIVE_AREA_LEVEL_2_10466            4801 non-null   int64
 29  ADMINISTRATIVE_AREA_LEVEL_2_10471            4801 non-null   int64
 30  ADMINISTRATIVE_AREA_LEVEL_2_11214            4801 non-null   int64
 31  ADMINISTRATIVE_AREA_LEVEL_2_11218            4801 non-null   int64
 32  ADMINISTRATIVE_AREA_LEVEL_2_11229            4801 non-null   int64
 33  ADMINISTRATIVE_AREA_LEVEL_2_11234            4801 non-null   int64
 34  ADMINISTRATIVE_AREA_LEVEL_2_11237            4801 non-null   int64
 35  ADMINISTRATIVE_AREA_LEVEL_2_11412            4801 non-null   int64
 36  ADMINISTRATIVE_AREA_LEVEL_2_11414            4801 non-null   int64
 37  ADMINISTRATIVE_AREA_LEVEL_2_11417            4801 non-null   int64
 38  ADMINISTRATIVE_AREA_LEVEL_2_Bronx County     4801 non-null   int64
 39  ADMINISTRATIVE_AREA_LEVEL_2_Brooklyn         4801 non-null   int64
 40  ADMINISTRATIVE_AREA_LEVEL_2_Kings County     4801 non-null   int64
 41  ADMINISTRATIVE_AREA_LEVEL_2_New York         4801 non-null   int64
 42  ADMINISTRATIVE_AREA_LEVEL_2_New York County  4801 non-null   int64
 43  ADMINISTRATIVE_AREA_LEVEL_2_Queens County    4801 non-null   int64
 44  ADMINISTRATIVE_AREA_LEVEL_2_United States    4801 non-null   int64
 45  LOCALITY_Bronx County                        4801 non-null   int64
 46  LOCALITY_Brooklyn                            4801 non-null   int64
 47  LOCALITY_Flatbush                            4801 non-null   int64
 48  LOCALITY_Kings County                        4801 non-null   int64
 49  LOCALITY_New York                            4801 non-null   int64
 50  LOCALITY_New York County                     4801 non-null   int64
 51  LOCALITY_Queens                              4801 non-null   int64
 52  LOCALITY_Queens County                       4801 non-null   int64
 53  LOCALITY_Richmond County                     4801 non-null   int64
 54  LOCALITY_The Bronx                           4801 non-null   int64
 55  LOCALITY_United States                       4801 non-null   int64
 56  SUBLOCALITY_Bronx County                     4801 non-null   int64
 57  SUBLOCALITY_Brooklyn                         4801 non-null   int64
 58  SUBLOCALITY_Brooklyn Heights                 4801 non-null   int64
 59  SUBLOCALITY_Coney Island                     4801 non-null   int64
 60  SUBLOCALITY_Dumbo                            4801 non-null   int64
 61  SUBLOCALITY_East Bronx                       4801 non-null   int64
 62  SUBLOCALITY_Flushing                         4801 non-null   int64
 63  SUBLOCALITY_Fort Hamilton                    4801 non-null   int64
 64  SUBLOCALITY_Jackson Heights                  4801 non-null   int64
 65  SUBLOCALITY_Kings County                     4801 non-null   int64
 66  SUBLOCALITY_Manhattan                        4801 non-null   int64
 67  SUBLOCALITY_New York                         4801 non-null   int64
 68  SUBLOCALITY_New York County                  4801 non-null   int64
 69  SUBLOCALITY_Queens                           4801 non-null   int64
 70  SUBLOCALITY_Queens County                    4801 non-null   int64
 71  SUBLOCALITY_Rego Park                        4801 non-null   int64
 72  SUBLOCALITY_Richmond County                  4801 non-null   int64
 73  SUBLOCALITY_Riverdale                        4801 non-null   int64
 74  SUBLOCALITY_Snyder Avenue                    4801 non-null   int64
 75  SUBLOCALITY_Staten Island                    4801 non-null   int64
 76  SUBLOCALITY_The Bronx                        4801 non-null   int64
dtypes: float64(1), int64(76)
memory usage: 2.8 MB

In [11]:
df.corr

<bound method DataFrame.corr of           PRICE  BEDS       BATH  TYPE_Co-op for sale  TYPE_Coming Soon  \
0        315000     2   2.000000                    0                 0
1     195000000     7  10.000000                    0                 0
2        260000     4   2.000000                    0                 0
3         69000     3   1.000000                    0                 0
4      55000000     7   2.373861                    0                 0
...         ...   ...        ...                  ...               ...
4796     599000     1   1.000000                    1                 0
4797     245000     1   1.000000                    1                 0
4798    1275000     1   1.000000                    1                 0
4799     598125     2   1.000000                    0                 0
4800     349000     1   1.000000                    1                 0

      TYPE_Condo for sale  TYPE_Condop for sale  TYPE_Contingent  \
0                       1                     0                0
1                       1                     0                0
2                       0                     0                0
3                       1                     0                0
4                       0                     0                0
...                   ...                   ...              ...
4796                    0                     0                0
4797                    0                     0                0
4798                    0                     0                0
4799                    1                     0                0
4800                    0                     0                0

      TYPE_For sale  TYPE_Foreclosure  ...  SUBLOCALITY_New York  \
0                 0                 0  ...                     0
1                 0                 0  ...                     0
2                 0                 0  ...                     0
3                 0                 0  ...                     0
4                 0                 0  ...                     0
...             ...               ...  ...                   ...
4796              0                 0  ...                     1
4797              0                 0  ...                     0
4798              0                 0  ...                     0
4799              0                 0  ...                     0
4800              0                 0  ...                     0

      SUBLOCALITY_New York County  SUBLOCALITY_Queens  \
0                               0                   0
1                               1                   0
2                               0                   0
3                               1                   0
4                               1                   0
...                           ...                 ...
4796                            0                   0
4797                            0                   0
4798                            1                   0
4799                            0                   1
4800                            0                   0

      SUBLOCALITY_Queens County  SUBLOCALITY_Rego Park  \
0                             0                      0
1                             0                      0
2                             0                      0
3                             0                      0
4                             0                      0
...                         ...                    ...
4796                          0                      0
4797                          1                      0
4798                          0                      0
4799                          0                      0
4800                          0                      0

      SUBLOCALITY_Richmond County  SUBLOCALITY_Riverdale  \
0                               0                      0
1                               0                      0
2                               1                      0
3                               0                      0
4                               0                      0
...                           ...                    ...
4796                            0                      0
4797                            0                      0
4798                            0                      0
4799                            0                      0
4800                            0                      0

      SUBLOCALITY_Snyder Avenue  SUBLOCALITY_Staten Island  \
0                             0                          0
1                             0                          0
2                             0                          0
3                             0                          0
4                             0                          0
...                         ...                        ...
4796                          0                          0
4797                          0                          0
4798                          0                          0
4799                          0                          0
4800                          0                          0

      SUBLOCALITY_The Bronx
0                         0
1                         0
2                         0
3                         0
4                         0
...                     ...
4796                      0
4797                      0
4798                      0
4799                      0
4800                      0

[4801 rows x 77 columns]>

In [12]:
from sklearn.tree import DecisionTreeClassifier
x = df.drop(columns=['PRICE'])
y = df['PRICE']
from sklearn.model_selection import train_test_split
model = DecisionTreeClassifier()
X_train,x_test,Y_train,y_test = train_test_split(x,y,test_size = 0.3)
model.fit(X_train,Y_train)
model.score(X_train,Y_train)

0.2714285714285714

In [14]:
from sklearn.linear_model import Lasso
reg = Lasso(alpha = 100,tol=0.1)
reg.fit(X_train,Y_train)
reg.score(X_train,Y_train)

0.009313206979973399